html{
  font-size: 18px;
}
body{
  font-family: 'Cabin Condensed', sans-serif;
  font-size: calc(0.8em + 1vw);
  font-size: -webkit-calc(60% + 1vw);
  background-color: #f7ece6;
  /* background: radial-gradient(ellipse at center, #f7eae3 0%,#fff 100%); */
  border-top: #3472c9 1vh solid;
  margin: 0;
  color: #052a3f;
}
